* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  text-align: center;
}

#container {
  background-color: #3498db; /* Blue */
  width: 30vw; min-width: 300px; max-width: 900px;
  height: 30vw; min-height: 300px; max-height: 900px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  margin: 20px auto;
  padding: 5px;
  display: grid;
  gap: 5px;
}
#playerForm {
  background-color: #e74c3c; /* Red */
  width: 40vw; min-width: 300px; max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 20px 5px;
  border-radius: 10px;
  font-weight: bolder;
}
#playerForm > input {
  width: 70%;
  height: 2em;
  border-radius: 5px;
}
#playButton {
  background-color: #f1c40f; /* Yellow */
  width: 60%;
  height: 40px;
  margin: 10px auto 0;
  text-align: center;
  font-size: large;
  border-radius: 10px;
}
#playButton:hover {
  background-color: #f39c12; /* Darker Yellow */
  transform: scale(1.1);
}
#replayButton {
  background-color: #f1c40f; /* Yellow */
  width: 60%; max-width: 200px;
  height: 40px;
  margin: 10px auto 0;
  text-align: center;
  font-size: large;
  border-radius: 10px;
}
#replayButton:hover {
  background-color: #f39c12; /* Darker Yellow */
  transform: scale(1.1);
}
.cell {
  background-color: bisque;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: x-large;
  font-weight: 500;
}

.hidden {
  display: none !important;
}